@keyframes HeaderH1-moverParaDireita {
    0% {
        opacity: 0;
        transform: translateX(-75px); /*andar pro lado*/
    }
    70% {

    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}